*{margin:0;
    padding:0;}
    .cabeçalho {
        background-color: #2cb587;
        color: rgba(189, 27, 27, 0.596);
        display:flex;
        justify-content:space-around;
        padding:24px 0;}
        
    .cabeçalho-lista-item{
        display: inline-block;
        margin: 16px;
        padding: 24px 0;
        font-size: 24px;}
 
        .escola-conteudo{
            background-color:linear- gradient(#1c2a75e8, #1a8ca5de);
            color: rgb(129, 52, 52);
            display: flex;
        }
 
        .escola-conteudo{
            width:25%;
            display:flex;
            justify-content:center;
            align-items:center ;
        }
        .escola-imagem{
            width:25%;
        }
 
        .escola-titulo{
            padding:25px 0;           
        }
        body{
         font-family:'poppins',sans-serif;
        }
 
        .estudante-imagem{
         width: 50px;
        }
 
        .estudante-icone{
         width:24px;
        }
 
        .estudante-div{
         text-align: center;
        }
     
        .estudante-titulo{
         text-align: center;
         padding: 25px 0;
        }
 
        .estudante-todos{
         display:grid;
         grid-template-columns: 20% 20% 20% 20%;
        }
        footer{
         background-color:black;
         padding: 15px 0;
         text-align:center;
        }
